---
name: Build Artifacts

on:
  release:
    types: [created]
  push:
    branches:
    - '**'
    paths-ignore:
    - '.github/**'
    - 'docs/**'
    - '*.md'
    - 'LICENSE'
  pull_request:
    branches:
    - '**'
    paths-ignore:
    - '.github/**'
    - 'docs/**'
    - '*.md'
    - 'LICENSE'

concurrency:
  # On main/release, we don't want any jobs cancelled so the sha is used to name the group
  # On PR branches, we cancel the job if new commits are pushed
  # More info: https://stackoverflow.com/a/68422069/253468
  group: ${{ github.ref == 'refs/heads/main' && format('ci-main-{0}', github.sha) || format('ci-main-{0}', github.ref) }}
  cancel-in-progress: true

jobs:
  multiplatform_build:
    if: github.event.pull_request.user.login != 'dependabot[bot]' || github.event_name == 'pull_request'
    strategy:
      fail-fast: false
      matrix:
        component:
        - name: qubership-grafana-plugins-init
          file: Dockerfile
          context: .
    runs-on: ubuntu-latest
    name: ${{ matrix.component.name }}
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
      with:
        images: |
          ghcr.io/${{ github.repository_owner }}/${{ matrix.component.name }}
        tags: |
          type=ref,event=branch
          type=ref,event=tag
    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
    - name: Login to Docker Hub
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
      with:
        no-cache: true
        context: ${{ matrix.component.context }}
        file: ${{ matrix.component.file }}
        platforms: linux/amd64,linux/arm64
        # See https://docs.github.com/en/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions#fetching-metadata-about-a-pull-request
        push: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
        provenance: false
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
